{{#if session.isAuthenticated}}
{{else}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
			<h3> Σύνδεση </h3>
			<form {{action 'authenticate' on='submit'}}>
			  <div class="form-group">
			    <label for="email_login">Email</label>
			    {{input value=identification type="email" class="form-control" id="email_login" placeholder="Email" required='required'}}
			  </div>
			  <div class="form-group">
			    <label for="phone_input">Κωδικός</label>
			    {{input value=password type="password" class="form-control" id="phone_input" placeholder="Κωδικός"  required='required'}}
			  </div>
			  <button type="submit">Σύνδεση</button>
			  {{#if errorMessage}}
			    <p class="alert alert-danger" style="margin-top: 15px;">{{errorMessage}}</p>
			  {{/if}}
			</form>
		</div>
		<div class="col-md-4 col-xs-12 alert alert-warning info" role="alert">Αν είστε διαχειριστής κάποιας ομάδας επικοινωνήστε μαζί μας στο <a href="mailto:info@irefugee.gr">info@irefugee.gr</a>  για να αποκτήσετε το λογαριασμό σας ή <a href={{href-to 'register'}}> συμπληρώστε τη φόρμα εγγραφής. </a></div>
	</div>
</div>
{{/if}}
{{outlet}}
