<div class="container-fluid">
	<div class="row">
		<h3 class="text-center"><i>{{model.name}}</i></h3>
		<div class="col-md-4">
			{{image-with-upload center=model isCurrentCenter=isCurrentCenter}}
				{{#if session.isAuthenticated}}
					{{#if isCurrentCenter}}
						<div {{action 'editCenterInfo'}} class="pull-right">
							<button>{{fa-icon icon="edit" title="Επεξεργασία"}}</button>
						</div>
					{{/if}}
				{{/if}}
				{{#if isEditing}}
					<form>
					  <div class="form-group">
					    <label for="address_input">Διεύθυνση</label>
					    {{input value=model.address type="text" class="form-control" id="address_input" placeholder="Διεύθυνση"}}
					  </div>
					  <div class="form-group">
					    <label for="phone_input">Τηλέφωνο</label>
					    {{input value=model.phoneNumber type="text" class="form-control" id="phone_input" placeholder="Τηλέφωνο"}}
					  </div>
					  <div class="form-group">
					    <label for="refugees_input">Φιλοξενούμενοι</label>
					    {{input value=model.refugeesNumber type="number" class="form-control" id="refugees_input" placeholder="Φιλοξενούμενοι"}}
					  </div>
					  <div class="form-group">
					    <label for="mail_input">E-mail</label>
					    {{input value=model.contactEmail type="email" class="form-control" id="mail_input" placeholder="E-mail"}}
					  </div>
					  <div class="form-group">
					    <label for="mail_input">Περιγραφή</label>
					    {{textarea value=model.description type="text" class="form-control" id="desc_input" placeholder="Περιγραφή"}}
					  </div>
  					  <div class="form-group">
					    <label for="m">Τύπος Κέντρου</label>
    {{#x-select class="form-control" value=model.centerType }}
      {{#x-option value=0}}Κανένας{{/x-option}}
      {{#x-option value=1}}Αυτοδιαχειριζόμενη δομή{{/x-option}}
      {{#x-option value=2}}Μαγειρεία{{/x-option}}
      {{#x-option value=3}}Δομές πρώτης υποδοχής{{/x-option}}
      {{#x-option value=4}}Ανοιχτές δομές φιλοξενίας{{/x-option}}
      {{#x-option value=5}}Ναυαγωσωστικές ομάδες{{/x-option}}
    {{/x-select}}
					 </div>
					  <button {{action 'submitInfo'}} type="submit" class="btn btn-success">Καταχώρηση</button>
					  <button {{action 'cancelInfo'}} type="submit" class="btn btn-warning">Ακύρωση</button>
					</form>
				{{else}}
					<p style="margin-top:10px;" id="address">{{fa-icon icon="map" title="Διεύθυνση"}} {{model.address}} </p>
					<p id="phone">{{fa-icon icon="phone" title="Τηλέφωνο"}} {{model.phoneNumber}} </p>
					<p id="refugees">{{fa-icon icon="users" title="Πρόσφυγες"}} {{model.refugeesNumber}} </p>
					<p id="mail">{{fa-icon icon="envelope" title="E-mail"}} {{model.contactEmail}} </p>
					<p id="description">{{fa-icon icon="book" title="Περιγραφή"}} {{model.description}} </p>
					<p id="type"> 
				 {{#if (eq model.centerType 1)}}
				 Αυτοδιαχειριζόμενη δομή
				 {{/if}}
				 {{#if (eq model.centerType 2)}}
				 Μαγειρείο
				 {{/if}}
				 {{#if (eq model.centerType 3)}}
				 Δομή πρώτης υποδοχής
				 {{/if}}
				 {{#if (eq model.centerType 4)}}
				 Ανοιχτή δομή φιλοξενίας
				 {{/if}}
				 {{#if (eq model.centerType 5)}}
				 Ναυαγωσωστική ομάδα				 
				{{/if}}


					</p>
				{{/if}}

				<div class="social-media">
				  <i title="Share on Facebook" {{action 'shareOnFacebook'}} class="fa fa-facebook-official fa-2x" style="color: #3b5998;"></i>
				  <a title="Share on Twitter" {{action 'shareOnTwitter'}}><i style="color: #1dcaff;" class="fa fa-twitter fa-2x"></i></a>
				</div>
		</div>
		<div class="col-md-4 details">
					{{center-keywords center=model isCurrentCenter=isCurrentCenter}}
					{{center-status center=model isCurrentCenter=isCurrentCenter new_status='new_status'}}

		</div>
		<div class="col-md-4">
			{{google-map-one-center center=model isCurrentCenter=isCurrentCenter}}
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		{{center-needs center=model isCurrentCenter=isCurrentCenter}}
	</div>	
</div>
{{outlet}}
