<h2>Κέντρα</h2>

<button {{action 'toggleSearch'}} class="btn btn-info">Αναζήτηση</button>
{{#liquid-if showSearch class="search"}}
  <div class="row">
    <button {{action 'clear'}}>Καθαρισμός</button>
  </div>
  <span> Με Κωδική Λεξη </span>
  <div class="col-xs-6">
    {{#power-select-multiple
      options=keywords
      selected=keys
      searchField="keyword"
      onchange=(action (mut keys))
      as |keyword|
    }}
      {{keyword.keyword}}
    {{/power-select-multiple}}
  </div>
  <h5>Με σημαντικότητα αναγκών</h5>
  <div class="needs">
  	{{#each needs as |need|}}
  		<span id={{need.id}} {{action 'filter_by_needs' need}} class="black">{{need.name}}</span> 
  	{{/each}}
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline" role="form">
        <div class="checkbox">
          <label>{{input type="checkbox" checked=by_address}} Βάση διεύθυνσης </label>
          {{input id="place_search"}}        
        </div>
        <div class="checkbox">
          <label>{{input type="checkbox" checked=by_me}} Με βάση την τοποθεσία μου </label>
        </div>
      </form>
    </div>
  </div>
{{/liquid-if}}
{{#if loading}}
  <div class="loader" style="margin-top: 15%;">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
{{else}}
  <div class="row" id="centers">
  <!-- item list -->
  	{{#each filt_centers as |center|}}
    		<div class="col-xs-6">
      		{{box-center center=center}}
    		</div>
  	{{/each}}
  </div>
{{/if}}
{{yield}}
