{{#if session.isAuthenticated}}
	{{#if isCurrentCenter}}
		<form {{action 'edit_keywords' on='submit'}}>
			<button class="pull-right" id="edit-keys"><i class="fa fa-edit"></i></button>
		</form>
	{{/if}}
{{/if}}
<h4 class="text-center alert alert-info"> Άμεσες Ανάγκες </h4>

{{#if isEditing}}
<div class="row">
<div class="col-xs-12">
   <div>
	    {{#power-select-multiple
	      options=sortedKeywords
	      selected=keys
	      placeholder="Π.χ. γιατρός παιδίατρος"
          searchField="keywordWithoutUnderscore"
	      onchange=(action (mut keys))
	      as |keyword|
	    }}
	      {{keyword.keywordWithoutUnderscore}}
	    {{/power-select-multiple}}
  </div>
  <button {{action 'submit_keywords'}} class="btn btn-warning">Καταχώρηση</button>
  {{#if (gt keys.length 10)}}
  	<div class="alert alert-danger">Έχετε εισάγει πάνω από 10 λέξεις κλειδιά. Είστε σίγουρόι ότι είναι απαραίτητα όλα;</div>
  {{/if}}
 </div>
</div>

{{else}}
	<div class="center-keywords">
		{{#each center.centerKeywords as |keyword|}}
			<span class="alert-info" style="padding: 4px; border-radius: 10%;">{{keyword.keyword.keyword}}</span>
		{{/each}}
	</div>
{{/if}}
{{yield}}
