<div class="news-feed">
	<h4 class="text-center alert alert-info"> Τρέχοντα Νέα </h4>
	<ul class="list-group ">
		{{#if (not loading)}}
			{{#each news as |new|}}
				<li class="list-group-item">
					{{#if new.center}} 
						<a style="color: black;" href="{{href-to 'center' new.center}}"> 
							{{new.content}} 
						</a>
					{{else}}
						<span style="color: black;">{{new.content}}</span>
					{{/if}}  
				<span style="color: #168ccc" class="pull-right"> {{moment-format new.createdAt 'D MMM, h:mm:ss a'}} </span> </li>
			{{/each}}
		{{else}}
			<div class="loader" style="margin-top: 5%;">
				<svg class="circular" viewBox="25 25 50 50">
					<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
			</div>
		{{/if}}
	</ul>
</div>

{{yield}}
