<div class="col-md-4 center-need">
	<div class="panel {{if (not centerNeed.importance) "panel-default"}} {{if (eq centerNeed.importance 1) "panel-default"}} {{if (eq centerNeed.importance 2) "panel-warning"}} {{if (eq centerNeed.importance 3) "panel-danger"}}">
	  <div class="panel-heading" title={{needString}}>
	  	<span class="need-name">{{centerNeed.need.name}}</span>
	  	(Ανανεώθηκε: {{moment-format centerNeed.updatedAt 'D/M'}})
	  	{{#if session.isAuthenticated}}
	  	{{#if isCurrentCenter}}
	  		<button class='fa fa-edit pull-right active' {{action 'edit'}} ></button>
	  	{{/if}}
	  	{{/if}}
	  	{{#if (eq centerNeed.importance 3)}}
	  		<i class='fa fa-warning pull-right'></i>
		{{/if}}	  		
	  </div>
	  <div class="panel-body">
	  		{{{centerNeed.description}}}
 		</div>
 		{{#if isEditing}}
		   	<div class="pull-left">
		   		Ανάγκη:
		   		{{#x-select value=centerNeed.importance}}
				  {{#x-option value=1}}Μικρή{{/x-option}}
				  {{#x-option value=2}}Μέση{{/x-option}}
				  {{#x-option value=3}}Μεγάλη{{/x-option}}
				{{/x-select}}
		   	</div>
 			<button class="btn btn-success pull-right" {{action 'submit'}}>Καταχώρηση</button>
 			<button class="btn btn-warning pull-right" {{action 'cancel'}}>Ακύρωση</button>
 		{{/if}}
	</div>
</div>
{{yield}}
