<div class="box-center">      
	<div class="panel panel-default">
		<div class="panel-heading">{{#link-to 'center' center}}{{center.name}}{{/link-to}}</div>
	</div>
	<div class="col-xs-6">
		<img class="center-list-image pull-left" src="/assets/kollias.jpg">
	</div>
	<div class="col-xs-6" style="padding-left: 0; margin-left: 0;">
		<p class="center-location-list">{{center.city}}</p>
		<p class="center-ref-list">{{center.refugeeCount}} Πρόσφυγες</p>
		<p class="center-ref-list"><b>Τύπος Κέντρου:</b> {{center.type}}</p>
	</div>
</div>


{{yield}}
