<div class="status-box">
{{#if session.isAuthenticated}}
	{{#if isCurrentCenter}}
		<form {{action 'submit_status' newstatus_text on='submit'}}>
		{{textarea class="status-textarea" value=newstatus_text id="status-text" placeholder="Ενημερωστε το status σας..." required="required"}}
		<button type="submit" class="btn btn-primary pull-right">Δημοσίευση</button>
		</form>
	{{/if}}
{{/if}}

	<h4 class="text-center alert alert-info"> Τελευταίες Δημοσιεύσεις </h4>
	<ul class="list-group">
	{{#if loading}}

		{{g-loader r="10" stroke-width="1" margin-top="0"}}

	{{else}}
		{{#each statuses as |status|}}
			<li class="list-group-item"> 
			<div class="row">
				<div class="col-xs-8"> {{status.context}} </div>
				<div class="col-xs-4">
				<span style="color: #168ccc"> {{moment-format status.createdAt 'D MMM, HH:mm'}} </span>  
			{{#if session.isAuthenticated}}
				{{#if isCurrentCenter}}		
						<i {{action 'remove_status' status}} title="Διαγραφή" class="fa fa-remove pull-right"></i>  
				{{/if}}
			{{/if}}
{{!-- 				<div class="social-media">
				  <i title="Share on Facebook" {{action 'shareStatusFacebook' status.context}} class="fa fa-facebook-official fa-2x" style="color: #3b5998;"></i>
				  <a title="Share on Twitter" {{action 'shareOnTwitter' status.context}}><i style="color: #1dcaff;" class="fa fa-twitter fa-2x"></i></a>
				</div>
 --}}
				
				</div>

			</div>
				</li>
		{{/each}}
	{{/if}}
	</ul>

</div>


{{yield}}

