<div id="navigation" class="navbar navbar-custom navbar-fixed-top">
  <div class="navbar-header"><a class="navbar-brand" href={{href-to 'index'}}><img class="logo" src="/assets/logo.png"></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
        <li><a class="closes-navbar" href={{href-to 'about'}}>Σκοπός</a></li>
        <li><a class="closes-navbar" href={{href-to 'how-to-use'}}>Οδηγίες Χρήσης</a></li>
        {{#if session.isAuthenticated}}
          <li><a class="closes-navbar" href={{href-to 'center' session.data.currentCenterSlug}}>Η ομάδα μου</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{fa-icon icon="caret-down"}}</a>
            <ul class="dropdown-menu">
              <li><a class="closes-navbar" href={{href-to 'settings'}}>Ρυθμίσεις</a></li>        
              <li {{action 'invalidate'}}><a class="closes-navbar">Αποσύνδεση</a></li>
            </ul>
          </li>
        {{else}}  
          <li><a class="closes-navbar" href={{href-to 'login'}}>Σύνδεση</a></li>
        {{/if }}
      </ul>
    </div> 
</div>
{{ember-notify messageStyle='bootstrap'}}
{{outlet}}
