<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-sm-6" id="left">
      {{centers-list moveMap='moveMap' filterMap='filterMap' centers=model.centers keywords=model.keywords needs=model.needs}}
    </div>
    <div class="col-sm-6"> </div>
		{{news-feed}}
    	{{google-map position=position bounds=bounds filt_centers=filt_centers centers=model.centers transitToCenter="transitToCenter"}}
  </div>
</div>
<!-- end template -->

{{!-- 
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 list-container" style="padding-right:0;">
			{{#each model as |center|}}
				<div class="col-xs-6">
					{{box-center center=center}}
				</div>
			{{/each}}
		</div>
		<div class="col-xs-6" style="padding-right:0;">
			{{google-map centers=model transitToCenter="transitToCenter"}}
		</div>
	</div>
</div> --}}
{{outlet}}
